<div class="login-box col-lg-4 col-lg-offset-4">
  <div class="row">
    <i class="fa fa-user-circle fa-2x"> </i>
    <p id="login-text">Login</p>
    <hr>
    <input class="shadow" type="text" pInputText placeholder="Username"/>
    </div>
  <br>
  <div class="row">
      <input pInputText class="shadow" type="password" placeholder="Password"/>
  </div>
  <br>
  <div class="row">
      <button pButton class="shadow ui-button-success pull-left" type="submit" label="Login"></button>
      <button pButton class="shadow ui-button-info pull-right" type="button" label="Register" routerLink="/register"></button>
  </div>
</div>

