<form class="login-box col-lg-4 col-lg-offset-4" (ngSubmit)="onSubmit(formInfo)" #formInfo="ngForm">
  <div class="row">
    <i class="fa fa-user-circle fa-2x"> </i>
    <p id="login-text">Login</p>
    <hr>
    <input class="shadow"
           type="text"
           pInputText
           placeholder="Username"
           ngModel
           name="username"
           required/>
    </div>
  <br>
  <div class="row">
      <input pInputText
             class="shadow"
             type="password"
             placeholder="Password"
             ngModel
             name="password"
             required/>
  </div>
  <br>
  <div class="row">
      <button pButton class="shadow ui-button-success pull-left" type="submit" label="Login"></button>
      <button pButton class="shadow ui-button-info pull-right" type="button" label="Register" routerLink="/register"></button>
  </div>
</form>


