.message{
  color: lightgray;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  user-select: none;
}

#login-align{
  display: flex;
  margin-left: 40%;
  color: darkgray;
  width: 25%;
}
#login-align:hover{
  box-shadow: 0px 5px 5px 0px whitesmoke;
  border-radius: 5%;
  transform: scale(1.2, 1.2);
}

#text-align{
  float: left;
  margin-left: 8%;
  user-select: none;
}

.center{
  position: absolute;
  top: 30%;
  bottom: 50%;
  width: 100%;
}
