<div class="container-fluid">
  <div class="row text-center">
    <div class="col-lg-12">
      <h1>Config Hub</h1>
      <div>Welcome to ConfigHub!</div>
      <div>Store, edit and view your configuration files for the Insider app.</div>
      <hr>
    </div>
  </div>
  <div class="row ">
    <div class="col-lg-12 bg-danger text-center">
      <p> You haven't logged in yet!</p>
    </div>
  </div>
  <br>
  <div class="row">
    <ul class="list-unstyled col-lg-12 bg-info text-center">
      <li>
        <input type="text" placeholder="Username">
      </li>
      <li><br></li>
      <li>
        <input type="password" placeholder="Password">
      </li>
      <li><br></li>
      <li>
        <button type="submit" class="btn-primary">
          Login
        </button>
        <button type="button" class="btn-info" >
          Register
        </button>
      </li>
    </ul>
  </div>
</div>
