<p-menu #menuVisitor popup="popup" [model]="popupItemsVisitor"></p-menu>
<p-menu #menuLoggedIn popup="popup" [model]="popupItemsLoggedIn"></p-menu>
<p-menubar [model]="items">
  <input pInputText
         class="searchBar"
         type="text"
         placeholder="Search">
  <button *ngIf="!loginService.isLoggedIn(); else show_profile"
          pButton
          class="profileButton "
          type="button"
          label="Profile"
          icon="fa-user"
          (click)="menuVisitor.toggle($event)"></button>
  <ng-template #show_profile>
    <button pButton
            class="profileButton"
            type="button"
            [label]="getUser()"
            icon="fa-user-o"
            (click)="menuLoggedIn.toggle($event)">
    </button>
  </ng-template>
</p-menubar>
