#title{
  margin-top: 3%;
  text-align: center;
  text-shadow: 1px 1px 1px yellowgreen;
}

.register-box{
  margin-top: 2%;
  width: 70%;
  text-align: center;
  padding: 2% 2% 2% 2%;
  background-color: yellowgreen;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 lightblue;
}

.input-box{
  box-shadow: 2px 2px 4px grey;
  margin: 4% 4% 4% 4%;
}

.button{
  box-shadow: 0 4px 4px green;
  margin-left: 12%;
  margin-right: 12%;
}

.on-success-greeting{
  text-align: center;
  animation-name: fadeout;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.warning{
  text-align: center;
  color: red;
  animation-name: fadein;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
