#title{
  margin-top: 3%;
  text-align: center;
  text-shadow: 1px 1px 1px yellowgreen;
}

.register-box{
  margin-top: 2%;
  width: 70%;
  text-align: center;
  padding: 2% 2% 2% 2%;
  background-color: yellowgreen;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 lightblue, 0 6px 20px 0 lightblue;
}

.input-box{
  box-shadow: 2px 2px 4px grey;
  margin: 4% 4% 4% 4%;
}

#register-button{
  box-shadow: 0 4px 4px 0 lightblue, 0 4px 4px 0 lightblue;;
}
