<hr>
<h1 class="text-center" icon="fa-user">Sign Up!</h1>
<br>
<div class="container bg-success">
  <div class="row">
        <div class="col-lg-offset-2 bg-success col-lg-4 text-right">
          <br>
          <input class="form-control" type="text" placheholder="First Name">
          <br>
        </div>
        <div class="col-lg-4 bg-success text-left">
          <br>
          <input class="form-control" type="text" placeholder="Last Name">
          <br>
        </div>
  </div>
  <div class="row">
        <div class="col-lg-4 bg-success col-lg-offset-2 text-right">
          <input class="form-control" type="text" placeholder="Username">
          <br>
        </div>
  </div>
  <div class="row">
        <div class="col-lg-4 bg-success col-lg-offset-2 text-right">
          <input class="form-control" type="email" placeholder="Email">
          <br>
        </div>
  </div>
  <div class="row">
        <div class="col-lg-4 bg-success col-lg-offset-2 text-right">
          <input class="form-control" type="password" placeholder="Password">
          <br>
        </div>
        <div class="col-lg-4 bg-success text-left"><input type="password" class="form-control" placeholder="Confirm Password"></div>
  </div>
  <div class="row">
        <div class="col-lg-4 bg-success col-lg-offset-4 text-center">
          <button pButton type="submit" class="ui-button-success" label="Register"></button>
          <br>
        </div>
  </div>
</div>

<!--div class="container-fluid bg-success">
  <div class="row">
    <div class="col-lg-4 text-center">
      <input type="text" placeholder="First Name">
      <input type="text" placeholder="Last Name">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 text-left">
      <input type="email" placeholder="Email">
    </div>
  </div>
</div-->
