<h1 id="title">
  <i class="fa fa-thumbs-o-up "></i>
  Sign Up!</h1>
<hr>
<div class="register-box col-lg-4 col-lg-offset-2">
  <div class="row">
        <div class="col-lg-offset-2 col-lg-4">
          <input pInputText class="form-control input-box" type="text" placeholder="First Name"/>
        </div>
        <div class="col-lg-4">
          <input pInputText class="form-control input-box" type="text" placeholder="Last Name"/>
        </div>
  </div>
  <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <input pInputText class="form-control input-box" type="text" placeholder="Username">
        </div>
  </div>
  <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <input pInputText class="form-control input-box" type="email" placeholder="Email">
        </div>
  </div>
  <div class="row">
        <div class="col-lg-4 col-lg-offset-2">
          <input pPassword class="form-control input-box" type="password" placeholder="Password">
        </div>
        <div class="col-lg-4 text-left">
          <input pInputText type="password" class="form-control input-box" placeholder="Confirm Password">
        </div>
  </div>
  <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <hr>
          <button pButton type="submit" class="ui-button-success register-box" label="Register"></button>
        </div>
  </div>
</div>
