<div>
  <div class="col-lg-8 col-lg-offset-2">
    <p-toolbar>
      <div class="align-group-left">
        <button pButton
                class="ui-button-info"
                label="New"
                type="button"
                icon="fa-pencil-square-o"
                iconPos="right">
        </button>
        <button pButton
                class="ui-button-success spacing"
                label="Save"
                type="button"
                icon="fa-save"
                iconPos="right">
        </button>
      <div class="ui-toolbar-group-right align-button-right">
        <button pButton
                class="ui-button-danger"
                label="Export"
                type="button"
                icon="fa-paper-plane-o"
                iconPos="right">
        </button>
      </div>
      </div>
    </p-toolbar>
    <div id="text-area-container">
      <textarea pInputTextarea
                placeholder="Create your new configuration file"
                class="text-area"></textarea>
    </div>
  </div>
</div>
