.shadow{
  text-shadow: 0.5px 0.5px 0.5px black;
  color: yellowgreen;
}

.config-file-info{
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 gray, 0 4px 10px 0 gray;
  background-color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 3% 3% 3% 10%;
}

.hover_shadow:hover{
  box-shadow: 0 4px 8px 0 darkgray, 0 4px 10px 0 darkgray;
}

.file_name{
  color: black;
  font-size: 1.5em;
  user-select: none;
}

.view_file{
  text-align: center;
  font-size: 1.0em;
}

.file_properties{
  padding-left: 23%;
  color: dimgray;
}
